header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

header h1 {
  width: 50%;
}

header nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: beige;
  background-color: teal;
}

.Main-Blue-Image-Top {
 position: ;
}

header nav a {
  padding-left: 5%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.column1 {
  width: 15%;
}

.column2 {
  width: 85%;
}

body {
  background-color: #d8e8f8;
}

* {
  margin: 0;
  padding: 0;
}

.div {
  border-left: 6px solid white;
  height: 420px;
  position: absolute;
  left: 50px;
}

h2 {
  text-align: center;
}

.column3 {
  margin-left: 15%;
}

.ContactInformation {
  word-spacing: 500px;
}

.ContactInformation {
  display: flex;
  width: 1000px;
  justify-content: flex-end;
  align-items: last baseline;
}

.Portfolio-top-photo img {
  width: 100%;
  height: 300px, 100px;
}

.text-inside-the-top-photo {
  margin-bottom: 5%;
}
.Portfolio-top-photo img {
  width: 100%;
  height: 300px, 100px;
}

.text-inside-the-top-photo {
  text-align: right;
  margin-top: -5%;
}
